.menu__conteiner {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  @media screen and (min-width: 768px) {
          display: none;
      }
      @media screen and (min-width: 1200px) {
          display: none;
      }
}
.menu__conteiner.is-open{
  transform: translateX(0);
}
.header-contacts{
  @media screen and (max-width: 767px) {
    display: none;
}
}

.menu-toggle {
  position: absolute;
  margin-left: auto;
      display: inline-flex;
      margin: 0;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
  top: 16px;
  right: 16px;
  color: #fff;
   &:hover ,
  &:focus  {
  fill: var(--accent-color);
}
}
@media (min-width: 768px){
  .menu-toggle{
      display: none;
  }
}

.navigation__link {
  width: 219px;
  height: 48px;
  padding-left: 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $basic-color;
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}
.contact {
  padding-left: 40px;
  padding-top: 48px;
}
.contact__linktel {
  margin-top: 320px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
}
.contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $contacts-and-paragraph-color;
}
.navigation__list{
  margin-top: 45px;
}

.network {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 64px;
  padding-left: 40px;
  padding-bottom: 48px;
}
.network__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, .2);
}
.network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $accent-color;
}
.navigation__link--current{
  color: $accent-color;
  margin-top: 45px;
}






