.section-comanda{
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
  }
    }
    
  
   
.conteiner-comand{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
      @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
    }
.soc-network__icon {
      fill: #AFB1B8;
      -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
   .soc-network{
    display: flex;
   
   }
   .worker{
    padding: 30px 122px 24px 122px;
    @media screen and (min-width: 768px) {
    padding: 30px 74px 24px 74px;
}
@media screen and (min-width: 1200px) {
    padding: 30px 32px;
}
  }

 .comand {
  display: block;
  text-align: center;
  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
  }
  @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
  }
 }

  .comand__titl{
    
    margin-bottom: 10px;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
  }
  .comand__text{
    margin-bottom: 16px;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;

color: #757575;
  }
.comand__item{
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px)/2);
}
@media screen and (min-width: 1200px) {
    margin-bottom: 0;
}}

.comand__item:nth-child(2n+1) {
  @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-right: 30px;
  }
}
.comand__item:last-child {
  margin-bottom: 0;
}

.comand__item:nth-child(n+3) {
  @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-bottom: 0;
  }
    
}

.comand__item+.comand__item {
  @media screen and (min-width: 1200px){
    margin-left: 30px;
  }
    
}
.soc-network__link{
  width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.soc-network__item:not(:last-child) {
  margin-right: 10px;
}
.img{
  display: block;
max-width: 100%;
height: auto;}

  