.section-robota{
    @media screen and (max-width: 1199px) {
        display: none;
      }
    }
    .section-robota {
        background-color: var(--dcg-color);
        padding-bottom: 94px;
      }
      
      .conteiner-robota {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
      }
      
      .cont-robota {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-right: -30px;
      }
      
      .item-robota:not(:last-child) {
        -ms-flex-preferred-size: calc(33.3333333333% - 30px);
            flex-basis: calc(33.3333333333% - 30px);
        margin-right: 30px;
      }
      
      .text-fon {
        position: absolute;
        display: inline-block;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
        width: 370px;
        height: 70px;
      }
      
      .item-robota {
        position: relative;
      }
      
      .robota-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--tres-text);
      }
     